html, body {
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
  font-size: 13px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 320px) {
    html html, html body, body html, body body {
      font-size: 12px;
      overflow-x: hidden;
      overflow-y: scroll; } }
  @media only screen and (min-width: 321px) {
    html html, html body, body html, body body {
      font-size: 12px;
      overflow-y: hidden;
      overflow-x: hidden; } }

ul {
  margin: 0;
  padding: 0; }

hr {
  margin: 0; }

@keyframes reload_logo {
  0% {
    transform: rotate(-360deg) scale(0.6);
    transform-origin: center center; }
  70% {
    transform: rotate(0deg) scale(1.1);
    transform-origin: center center; }
  100% {
    transform: rotate(0deg) scale(1);
    transform-origin: center center; } }
.wrapper {
  font-family: "Yu Gothic"; }
  .wrapper .header {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    background-color: #000;
    border-bottom: 2px solid #FA2908; }
    .wrapper .header:before {
      content: "";
      background-color: #000;
      height: 5px;
      width: 100%; }
    @media only screen and (min-width: 641px) {
      .wrapper .header {
        height: 75px;
        line-height: 0;
        padding: 0;
        border-bottom: none;
        background: #000 url("../img/header_bg.png") no-repeat; } }
    .wrapper .header .logo-header {
      float: left;
      width: 80%; }
      @media only screen and (min-width: 641px) {
        .wrapper .header .logo-header {
          margin: 10px 0 5px 135px;
          width: auto; } }
    .wrapper .header .menu-header-phone {
      text-align: center;
      float: right;
      margin-top: 10px;
      width: 20%; }
      @media only screen and (min-width: 641px) {
        .wrapper .header .menu-header-phone {
          display: none; } }
    .wrapper .header .menu-header-tb {
      display: none; }
      @media only screen and (min-width: 641px) {
        .wrapper .header .menu-header-tb {
          display: block;
          float: right;
          margin-right: 170px; } }
      .wrapper .header .menu-header-tb ul {
        margin-top: 10px;
        color: #fff; }
        .wrapper .header .menu-header-tb ul li {
          font-size: .75rem;
          padding-right: 25px;
          padding-left: 10px;
          display: inline-table;
          list-style: none;
          background: url("../img/h_arrow.gif") no-repeat left; }
      .wrapper .header .menu-header-tb .search-header {
        float: right;
        margin-top: 20px; }
        .wrapper .header .menu-header-tb .search-header input {
          width: 200px;
          background-color: #999999;
          padding: 3px;
          border-radius: 3px;
          outline: none;
          border: 1px solid #999999; }
    .wrapper .header img {
      width: 50%; }
      @media only screen and (min-width: 641px) {
        .wrapper .header img {
          width: 100%; } }
@keyframes example {
  0% {
    transform: scale(1);
    opacity: 1;
    background: url("../img/100th_top-bg.jpg") no-repeat;
    background-size: cover; }
  25% {
    transform: scale(1.02);
    opacity: .8;
    background-size: cover; }
  50% {
    transform: scale(1.03);
    opacity: 1;
    background: url("../img/100th_top-bg-02.jpg") no-repeat;
    background-size: cover; }
  75% {
    transform: scale(1.07);
    opacity: .8;
    background-size: cover; }
  100% {
    opacity: 1;
    transform: scale(1.1);
    background: url("../img/100th_top-bg-03.jpg") no-repeat;
    background-size: cover; } }
  .wrapper .slider {
    display: none; }
    @media only screen and (min-width: 641px) {
      .wrapper .slider {
        display: block;
        overflow: hidden;
        width: 100vw;
        height: calc(100vh - 55px); }
        .wrapper .slider .bg-table {
          height: 100%;
          width: 100%;
          background-size: cover;
          -webkit-animation: example 20s infinite;
          -khtml-animation: example 20s infinite;
          -moz-animation: example 20s infinite;
          -ms-animation: example 20s infinite;
          -o-animation: example 20s infinite;
          animation: example 20s infinite; }
        .wrapper .slider .content-bg {
          position: absolute;
          width: 500px;
          z-index: 9;
          background: url("../img/100th_top-01.png") no-repeat center;
          background-size: cover;
          text-align: center;
          -webkit-animation: reload_logo 0.8s alternate;
          -khtml-animation: reload_logo 0.8s alternate;
          -moz-animation: reload_logo 0.8s alternate;
          -ms-animation: reload_logo 0.8s alternate;
          -o-animation: reload_logo 0.8s alternate;
          animation: reload_logo 0.8s alternate; }
          .wrapper .slider .content-bg .img-bg {
            margin-top: 50px;
            margin-bottom: 40px; }
          .wrapper .slider .content-bg .text-bg {
            font-size: 4.8rem;
            font-family: 'Six Caps', sans-serif;
            font-weight: 500;
            color: #fff;
            line-height: 47px;
            letter-spacing: 5px;
            margin-bottom: 40px; }
          .wrapper .slider .content-bg .text-content {
            font-size: 1.2rem;
            color: #fff;
            padding: 0 70px;
            margin-bottom: 30px; }
          .wrapper .slider .content-bg .label-bg {
            font-family: "Century Gothic";
            padding: 15px 30px;
            font-size: 1.5rem;
            color: #fff;
            width: 45%;
            border: 1px solid #fff;
            margin: 0 auto;
            border-radius: 30px;
            margin-bottom: 90px; } }
  .wrapper .contentPage {
    background: url("../img/sp_teaser.jpg") no-repeat center;
    background-size: cover; }
  .wrapper .bg-phone {
    padding-bottom: 20px;
    border-top: 7px solid #000; }
    @media only screen and (min-width: 641px) {
      .wrapper .bg-phone {
        display: none; } }
    .wrapper .bg-phone .content-bg {
      position: relative;
      z-index: 9; }
      .wrapper .bg-phone .content-bg .logo-bg {
        height: 300px;
        background: url("../img/100th_top-01-sp.png") no-repeat center;
        background-size: contain;
        text-align: center;
        padding-top: 40px; }
        @media only screen and (min-width: 321px) {
          .wrapper .bg-phone .content-bg .logo-bg {
            height: 350px; } }
        .wrapper .bg-phone .content-bg .logo-bg .img-bg {
          padding-bottom: 30px; }
          .wrapper .bg-phone .content-bg .logo-bg .img-bg img {
            width: 40%; }
        .wrapper .bg-phone .content-bg .logo-bg .text-bg {
          font-size: 2.8rem;
          font-family: 'Six Caps', sans-serif;
          font-weight: 500;
          color: #fff;
          line-height: 47px;
          letter-spacing: 5px;
          padding-bottom: 25px; }
        .wrapper .bg-phone .content-bg .logo-bg .label-bg {
          position: relative;
          padding: 10px 20px;
          font-size: 1rem;
          color: #fff;
          width: 60%;
          border: 1px solid #fff;
          margin: 0 auto;
          border-radius: 20px; }
          @media only screen and (min-width: 321px) {
            .wrapper .bg-phone .content-bg .logo-bg .label-bg {
              width: 45%; } }
          @media only screen and (min-width: 769px) {
            .wrapper .bg-phone .content-bg .logo-bg .label-bg {
              width: 40%; } }
      .wrapper .bg-phone .content-bg .text-content {
        padding: 0 10px;
        margin-top: 20px;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        line-height: 22px; }
        @media only screen and (min-width: 641px) {
          .wrapper .bg-phone .content-bg .text-content {
            font-size: 1.1rem; } }
  .wrapper .tab-menu {
    padding-top: 15px;
    display: none;
    position: fixed;
    top: 45px;
    width: 100vw;
    background-color: #000;
    opacity: .9;
    color: #fff;
    overflow-y: scroll;
    height: 100%;
    z-index: 10; }
    @media only screen and (min-width: 641px) {
      .wrapper .tab-menu {
        display: none; } }
    .wrapper .tab-menu .home-menu {
      text-align: center;
      padding-bottom: 35px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ffffff;
      margin-top: 35px; }
      .wrapper .tab-menu .home-menu li {
        position: relative;
        list-style: none;
        font-size: 1.2rem;
        margin-bottom: 25px;
        padding-bottom: 5px; }
        .wrapper .tab-menu .home-menu li:hover .line {
          background-color: transparent;
          border-bottom: 1px solid #FA2908; }
        .wrapper .tab-menu .home-menu li a {
          text-decoration: none;
          color: #fff;
          padding-bottom: 4px; }
          .wrapper .tab-menu .home-menu li a.home-menu-title {
            font-size: 1.3rem;
            border-bottom: 1px solid #FA2908; }
        .wrapper .tab-menu .home-menu li .line {
          height: 1px;
          width: 10px;
          background-color: #FA2908;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -khtml-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
    .wrapper .tab-menu .special-movie {
      padding: 0 60px;
      padding-bottom: 35px;
      margin-bottom: 25px;
      border-bottom: 1px solid #ffffff; }
      .wrapper .tab-menu .special-movie h1 {
        font-weight: 700;
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 10px; }
      .wrapper .tab-menu .special-movie .video-slider iframe {
        height: 110px;
        border: 2px solid #ffffff; }
    .wrapper .tab-menu .bar-img {
      padding-bottom: 45px;
      text-align: center;
      margin-bottom: 25px;
      border-bottom: 1px solid #ffffff; }
    .wrapper .tab-menu .bar-new {
      margin: 0 30px;
      margin-bottom: 70px; }
      .wrapper .tab-menu .bar-new h1 {
        font-weight: 700;
        font-size: 1.1rem;
        text-align: center; }
      .wrapper .tab-menu .bar-new .item-new {
        padding-bottom: 15px;
        margin: 20px 0;
        font-size: 1.18rem;
        border-bottom: 1px solid #ffffff; }
        .wrapper .tab-menu .bar-new .item-new span {
          color: #999; }
  .wrapper .footer {
    font-family: 'Open Sans', sans-serif;
    display: none;
    position: relative;
    z-index: 9;
    height: 55px;
    background-color: #000;
    color: #fff;
    line-height: 50px; }
    @media only screen and (min-width: 641px) {
      .wrapper .footer {
        display: block; } }
    .wrapper .footer ul li {
      display: inline-table;
      list-style: none;
      font-size: 1rem;
      padding-right: 20px; }
      .wrapper .footer ul li img {
        margin-right: 5px; }
    .wrapper .footer .text-large {
      font-size: 1.5rem; }
    .wrapper .footer .pull-right {
      font-size: .8rem; }
  .wrapper .nav-bar {
    z-index: 9;
    padding-top: 10px;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 70px;
    opacity: .7;
    background-color: #000;
    color: #fff;
    width: 17.5%;
    height: calc(100vh - 55px); }
    @media only screen and (min-width: 641px) {
      .wrapper .nav-bar {
        display: block; } }
    .wrapper .nav-bar .bar-home li {
      list-style: none;
      font-size: 1.1rem;
      margin-bottom: 20px;
      display: table;
      position: relative;
      overflow: hidden; }
      .wrapper .nav-bar .bar-home li .line {
        width: 7px;
        height: 1px;
        background-color: red;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: 1s;
        -khtml-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .wrapper .nav-bar .bar-home li:hover .line {
        width: 100px; }
      .wrapper .nav-bar .bar-home li:hover a {
        font-weight: bold; }
      .wrapper .nav-bar .bar-home li a {
        color: #ffffff;
        text-decoration: none; }
      .wrapper .nav-bar .bar-home li.bar-title a {
        border-bottom: 1px solid red; }
    .wrapper .nav-bar .bar-special {
      font-family: "Century Gothic";
      padding: 0 30px;
      margin-top: 15px; }
      .wrapper .nav-bar .bar-special h1 {
        font-size: 1.1rem;
        text-align: center; }
      .wrapper .nav-bar .bar-special iframe {
        width: 100%;
        height: 100px;
        border: 1px solid #ffffff; }
    .wrapper .nav-bar .bar-img {
      margin: 60px 30px;
      text-align: center; }
    .wrapper .nav-bar .bar-new {
      margin: 0 30px; }
      .wrapper .nav-bar .bar-new h1 {
        font-size: 1.1rem;
        text-align: center; }
      .wrapper .nav-bar .bar-new .item-new {
        padding-bottom: 15px;
        margin: 20px 0;
        font-size: 1.18rem;
        border-bottom: 1px solid #ffffff; }
        .wrapper .nav-bar .bar-new .item-new span {
          color: #999; }
  .wrapper .footer-phone {
    padding: 0 10px 20px 10px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    z-index: 9;
    font-size: 1rem;
    color: #898989; }
    @media only screen and (min-width: 641px) {
      .wrapper .footer-phone {
        display: none; } }
    .wrapper .footer-phone h1 {
      color: #000;
      font-size: 1.3rem;
      font-weight: 700; }
    .wrapper .footer-phone .footer-list {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap; }
      .wrapper .footer-phone .footer-list div {
        margin-right: 20px; }
        .wrapper .footer-phone .footer-list div img {
          margin-right: 5px; }
    .wrapper .footer-phone .footer-info {
      margin-top: 30px; }
  .wrapper .gird {
    background: url("../img/img-05.png") top right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8; }
  .wrapper .video-slider button.slick-prev:before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background: url("../img/img-07.png") no-repeat; }
  .wrapper .video-slider button.slick-next:before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background: url("../img/img-06.png") no-repeat; }
  .wrapper .video-slider ul li {
    height: 2px;
    width: 10px;
    background-color: #9999A6; }
  .wrapper .video-slider ul .slick-active {
    background-color: #FA2908; }
  .wrapper .label-bg {
    overflow: hidden;
    position: relative; }
    .wrapper .label-bg:before {
      content: "";
      height: 150px;
      margin-top: -40px;
      width: 8px;
      opacity: .8;
      background-color: #9999A6;
      position: absolute;
      left: -10px;
      -webkit-transform: rotate(-30deg);
      -khtml-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      transform: rotate(-30deg);
      -webkit-transition: 0.5s;
      -khtml-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .wrapper .label-bg:hover:before {
      left: 500px; }

/*# sourceMappingURL=index.css.map */
